<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Niveau de journalisation spécifique à un package ou une classe -->
    <logger name="com.example.parisjanitormsuser" level="debug" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>
